/* body */

body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

a:link, a:active, a:visited {
    text-decoration: none;
}

/* Grid 960px  #315e8a*/

.linha {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0px;
}

.coluna {
    padding: 0px 10px;
    float: left;
}

.col1 {
    width: 60px;
}
.col2 {
    width: 140px;
}
.col3 {
    width: 220px;
}
.col4 {
    width: 300px;
}
.col5 {
    width: 380px;
}
.col6 {
    width: 460px;
}
.col7 {
    width: 540px;
}
.col8 {
    width: 620px;
}
.col9 {
    width: 700px;
}
.col10 {
    width: 780px;
}
.col11 {
    width: 860px;
}
.col12 {
    width: 940px;
}


/* Estilos Reutilizáveis */

.sem-padding {
    padding: 0 !important;
}

.sem-margin {
    margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 16px 0px 8px 0px;
}
h1 {
    font-size: 56px;
    text-align: justify;
}

h2 {
    font-size: 24px;
    text-align: justify;
}

p {
    text-align: justify;
    font-size: 16px;
}

ul li, ol li {
    margin-bottom: 8px;
}

ul.inline li, ol.inline li{
    display: inline;
    margin-right: 16px;
}

ul.inline li:last-child, ol.inline li:last-child{
    margin-right: 0px;
}

ul.sem-marcador, ol.sem-marcador {
    list-style: none;
}

a.botao, input.botao {
    background: #1f3c58;
    padding: 8px 16px;
    color: #ebebeb;
    cursor: pointer;
    border: none;
}

a.botao:hover, input.botao:hover {
    background: #315e8a;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
    display: block;
    box-shadow: 1px 1px 5px black; 
}

/* Layuot Site **/

.header {
    background: #d0021b;
}

.cabecalho {
    font-family: 'Anton', sans-serif;
    background-color: rgba(0, 0, 0, 0.09);
    font-size: 14px;
}

h1#cabecalho {
    font-size: 24px;
}

span#cabecalho {
    color: #c9ae14;
 
}

.conteudo-principal {
    background-color: rgba(0, 0, 0, 0.09);
}

.conteudo-extra {
    background-color: rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 16px;
    padding: 16px 0px;
}

.text-footer {
    text-shadow: 1px 1px 10px black;
    color: white;
}

.menu {
    text-transform: uppercase;
    text-align: right;
    margin-top: 15px;
    
}

.menu li a {
    padding: 5px 5px;
    border-radius: 3px;
    color: yellow;
}

.menu li a:hover {
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

ul.idolos li {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
}

ul.idolos li img {
    width: 108px;
    height: 162px;
    margin-right: 10px;
    float: left;
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
    -webkit-transition: all 0.4s ease-in;  
}

ul.idolos li img:hover {
    -webkit-transform: scale(1.1);
}

ul.idolos li h3 {
    margin: -3px 0px 10px 0px;
    font-size: 24px;
    font-weight: 800;
}

ul.idolos li p {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 40px;
}

.conteudo-extra h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
}

ul.ultimas-noticias li {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
}

ul.ultimas-noticias li img {
    width: 50px;
    height: 50px;
    float: left; 
}

ul.ultimas-noticias p {
    text-align: justify;
    margin-left: 60px;   
}

ul.ultimas-noticias a {
    display: block;
    text-align: right;
    color: black;
    font-size: 14px;
    text-decoration: underline;
}

/* Page História */

img.historia1 {
    width: 312;
    height: 474;
    border: 10px solid black;
    float: right;
}








/* fonts 

font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif;
#c9ae14
*/



